<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .error {
        color: red;
        font-style: italic;
    }
</style>
<body>
<div align="center">
    <h1>Create New Stock</h1>
    <form th:action="@{'/rawUI/manager/stocks/saveStock'}" th:object="${stockDto}" method="post">
        <table th:border="0" th:cellpadding="10">

            <tr>
                <td><label>Product:
                    <select th:field="*{productId}">
                        <option th:each="product : ${productList}" th:value="${product.id}"
                                th:text="${product.id+' - '+product.name}"></option>

                    </select>
                </label></td>
            </tr>

            <tr>
                <td><label>Warehouse:
                    <select th:field="*{warehouseId}">
                        <option th:each="warehouse : ${warehouseList}" th:value="${warehouse.id}"
                                th:text="${warehouse.id+' - '+warehouse.warehouseName}"></option>

                    </select>
                </label></td>
            </tr>

            <tr>
                <td><label>Quantity In Stock
                    <input type="number" th:field="*{quantityInStock}"/>
                </label></td>
                <td class="error" th:if="${#fields.hasErrors('quantityInStock')}" th:errors="*{quantityInStock}"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Save Stock</button>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>