<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1>Create New Warehouse</h1>
    <form th:action="@{'/rawUI/manager/stocks/saveStock'}" th:object="${stockDto}" method="post">
        <table th:border="0" th:cellpadding="10">
            <tr>
                <td><label>Product Name:
                    <input type="text" th:field="*{productDto.name}"/>
                </label></td>
            </tr>

            <tr>
                <td><label>Product Id:
                    <input type="text" th:field="*{productDto.id}"/>
                </label></td>
            </tr>
            <tr>
                <td><label>Warehouse Name:
                    <input type="text" th:field="*{warehouseDto.warehouseName}"/>
                </label></td>
            </tr>
            <tr>
                <td><label>Warehouse Id:
                    <input type="number" th:field="*{warehouseDto.id
                    }"/>
                </label></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Save Warehouse</button>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>