<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warehouse management</title>
</head>

<style>
    table, th, td {
        border: 1px solid;
    }
</style>
<body>
<div align="center">

    <form th:action="@{/rawUI/admin/warehouses/1}">
        Filter:<input type="text" size="50" th:value="${keyword}" name="keyword" id="keyword" required>
        &nbsp;
        <input type="submit" value="Search"/>
        &nbsp;
        <input type="button" value="Clear" id="btnClear"
        />
    </form>

    <div th:if="${#httpServletRequest.userPrincipal != null }">
        <h1>Hello [[${#httpServletRequest.remoteUser}]]</h1>

        <div th:if="${#authentication.getAuthorities() != null}">
            <p>Roles: <span th:each="authority : ${#authentication.getAuthorities()}"
                            th:text="${authority.getAuthority()} + '    '"></span></p>
        </div>

        <form th:action="@{/rawUI/logout}" method="post">
            <input type="submit" value="Logout">
        </form>

    </div>
    <div th:if="${#httpServletRequest.userPrincipal == null}">
        <a href="/rawUI/login">Login</a>
    </div>

    <div th:if="${param.logoutStatus}">
        <h3>You have been logged out</h3>
    </div>
    <div>
        <a href="/rawUI/">Home</a>
    </div>
    <div>
        <h1>List Warehouse</h1>
        <div>
            <a href="/rawUI/admin/warehouses/newWarehouse">Add new warehouse</a>
        </div>

        <br/>
        <br/>

        <div>
            <select id="itemsNumberSelect" onchange="updateUrl(this)">
                <option value="5">5 items per page</option>
                <option value="10">10 items per page</option>
                <option value="20">20 items per page</option>
                <option value="50">50 items per page</option>
            </select>

            <br/>
            <br/>


        </div>

        <table>
            <thead>
            <tr>
                <th>
                    <a th:href="@{'/rawUI/admin/warehouses/'+${currentPage} +'?sortField=id&sortDir='+${reverseSortDir}+'&itemsNumber='+${numberElement}}">
                        Warehouse ID</a>
                </th>
                <th>
                    <a th:href="@{'/rawUI/admin/warehouses/'+${currentPage} +'?sortField=address&sortDir='+${reverseSortDir}+'&itemsNumber='+${numberElement}}">
                        Address</a>
                </th>
                <th>
                    <a th:href="@{'/rawUI/admin/warehouses/'+${currentPage} +'?sortField=phone&sortDir='+${reverseSortDir}+'&itemsNumber='+${numberElement}}">
                        Phone</a></th>
                <th>
                    <a th:href="@{'/rawUI/admin/warehouses/'+${currentPage} +'?sortField=warehouseName&sortDir='+${reverseSortDir}+'&itemsNumber='+${numberElement}}">
                        Warehouse name</a>
                </th>
                <th>
                    <a th:href="@{'/rawUI/admin/warehouses/'+${currentPage} +'?sortField=createTime&sortDir='+${reverseSortDir}+'&itemsNumber='+${numberElement}}">Create
                        Time</a>
                </th>


                <th>
                    <a th:href="@{'/rawUI/admin/warehouses/'+${currentPage} +'?sortField=updateTime&sortDir='+${reverseSortDir}+'&itemsNumber='+${numberElement}}">
                        Update Time</a>
                </th>
                <th>
                    Action
                </th>

            </tr>
            </thead>

            <div th:if="${not #lists.isEmpty(warehouseList)}">
                <tbody>
                <tr th:each="warehouse : ${warehouseList}">
                    <td th:text="${warehouse.id}"></td>
                    <td th:text="${warehouse.address}"></td>
                    <td th:text="${warehouse.phone}"></td>
                    <td th:text="${warehouse.warehouseName}"></td>
                    <td th:text="${warehouse.createTime}"></td>
                    <td th:text="${warehouse.updateTime}"></td>
                    <td>
                        <a th:href="@{'/rawUI/admin/warehouses/editWarehouse/' + ${warehouse.id}}">Edit</a>
                        <a th:href="@{'/rawUI/admin/warehouses/deleteWarehouse/' + ${warehouse.id}}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </div>
        </table>
        <br/>
        <br/>
        <a th:if="${currentPage > 1}"
           th:href="@{'/rawUI/admin/warehouses/1'+'?sortField='+${sortField} +'&sortDir='+${sortDir}+'&itemsNumber='+${numberElement}}">First</a>
        <span th:if="${currentPage < 2}">First</span>

        <a th:if="${currentPage > 1}"
           th:href="@{'/rawUI/admin/warehouses/'+${currentPage - 1} +'?sortField='+${sortField} +'&sortDir='+${sortDir}+'&itemsNumber='+${numberElement}}">Previous</a>
        <span th:if="${currentPage < 2}">Previous</span>

        <span th:if="${totalPages > 0}">
        <span th:each="i : ${#numbers.sequence(1,totalPages)}">
            <a th:if="${currentPage != i}"
               th:href="@{'/rawUI/admin/warehouses/'+${i}+'?sortField='+${sortField} +'&sortDir='+${sortDir}+'&itemsNumber='+${numberElement}}">[[${i}]]</a>
            <span th:if="${currentPage == i}">[[${i}]]</span>
        </span>
        </span>
        <a th:if="${currentPage < totalPages}"
           th:href="@{'/rawUI/admin/warehouses/'+${currentPage+1}+'?sortField='+${sortField} +'&sortDir='+${sortDir}+'&itemsNumber='+${numberElement}}">Next</a>
        <span th:if="${currentPage >= totalPages}">Next</span>

        <a th:if="${currentPage < totalPages}"
           th:href="@{'/rawUI/admin/warehouses/'+${totalPages}+'?sortField='+${sortField} +'&sortDir='+${sortDir}+'&itemsNumber='+${numberElement}}">Last</a>
        <span th:if="${currentPage >= totalPages}">Last</span>
    </div>
</div>
</body>

<script type="text/javascript">
    // Hàm hỗ trợ lấy giá trị của tham số từ URL
    function getUrlParam(paramName) {
        let urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(paramName);
    }

    const currentItemsNumber = getUrlParam('itemsNumber');
    const selectElement = document.getElementById("itemsNumberSelect");
    console.log(currentItemsNumber)
    if (currentItemsNumber == null) {
        selectElement.value = 10;
    } else {
        selectElement.value = currentItemsNumber;
    }
    document.getElementById('btnClear').addEventListener('click', function (evt) {
        evt.preventDefault();
        window.location.href = "/rawUI/admin/warehouses/1";
    });

    function updateUrl(select) {
        let selectedValue = select.value;
        window.location.href = "/rawUI/admin/warehouses/1?itemsNumber=" + selectedValue;
    }
</script>

</body>
</html>