<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>Product Manager</title>
</head>

<style>
    table, th, td {
        border: 1px solid;
    }
</style>
<body>
<div align="center">
    <div th:if="${#httpServletRequest.userPrincipal != null }">
        <h1>Hello [[${#httpServletRequest.remoteUser}]]</h1>

        <div th:if="${#authentication.getAuthorities() != null}">
            <p>Roles: <span th:each="authority : ${#authentication.getAuthorities()}"
                            th:text="${authority.getAuthority()} + '    '"/></p>
        </div>


        <form th:action="@{/rawUI/logout}" method="post">
            <input type="submit" value="Logout">
        </form>

    </div>
    <div th:if="${#httpServletRequest.userPrincipal == null}">
        <a href="/rawUI/login">Login</a>
    </div>

    <div th:if="${param.logoutStatus}">
        <h3>You have been logged out</h3>
    </div>


    <div>
        <h1>List Employees</h1>
        <div>
            <a href="/rawUI/admin/newEmployee">Add new Employee</a>
            &nbsp;
            <a href="/rawUI/admin/employees/1">View More</a>
        </div>
        <br/>
        <br/>
        <table>
            <thead>
            <tr>
                <th>
                    <a>
                        Employee ID</a>
                </th>
                <th>
                    <a>Email</a>
                </th>
                <th>Last Name</th>
                <th>
                    <a>First Name</a>
                </th>
                <th>Phone</th>
                <th>Roles</th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
            </thead>

            <div th:if="${not #lists.isEmpty(listEmployees)}">
                <tbody>
                <tr th:each="employee : ${listEmployees}">
                    <td th:text="${employee.id}">Category ID</td>
                    <td th:text="${employee.email}">Email</td>
                    <td th:text="${employee.firstName}">First Name</td>
                    <td th:text="${employee.lastName}">Last Name</td>
                    <td th:text="${employee.phone}">Phone</td>
                    <td th:text="${employee.roles}">Roles</td>
                    <td th:text="${employee.enabled}">Enabled</td>
                    <td th:if="${currentRoles.contains('ADMIN')}">
                        <a th:href="@{'/rawUI/admin/editEmployee/' + ${employee.id}}">Edit</a>
                        <a th:href="@{'/rawUI/admin/deleteEmployee/' + ${employee.id}}">Delete</a>
                    </td>

                    <td th:if="${not currentRoles.contains('ADMIN')}">
                        <p>Only ADMIN can action</p>
                    </td>
                </tr>
                </tbody>
            </div>
        </table>

    </div>

    <div>
        <h1>List Roles</h1>
        <a href="/rawUI/admin/newRole">Add new Role</a>
        <br/>
        <br/>
        <table>
            <thead>
            <tr>
                <th>
                    <a>
                        Role ID</a>
                </th>
                <th>
                    <a>Name</a>
                </th>
                <th>
                    <a>Description</a>
                </th>
                <th>Actions</th>
            </tr>
            </thead>

            <div th:if="${not #lists.isEmpty(listRoles)}">
                <tbody>
                <tr th:each="role : ${listRoles}">
                    <td th:text="${role.id}">Category ID</td>
                    <td th:text="${role.name}">Name</td>
                    <td th:text="${role.description}">Description</td>
                    <td th:if="${currentRoles.contains('ADMIN')}">
                        <a th:href="@{'/rawUI/admin/editRole/' + ${role.id}}">Edit</a>
                        <a th:href="@{'/rawUI/admin/deleteRole/' + ${role.id}}">Delete</a>
                    </td>
                    <td th:if="${not currentRoles.contains('ADMIN')}">
                        <p>Only ADMIN can action</p>
                    </td>
                </tr>
                </tbody>
            </div>
        </table>

    </div>
    <h1>Category List</h1>
    <a href="/rawUI/newCategory">Create New Category</a>
    <br/>
    <table>
        <thead>
        <tr>
            <th>
                <a>
                    Category ID</a>
            </th>
            <th>
                <a>Name</a>
            </th>
            <th>
                <a>Description</a>
            </th>
            <th>
                <a>Parent ID
                </a></th>
            <th>Actions</th>
        </tr>
        </thead>

        <div th:if="${not #lists.isEmpty(listCategories)}">
            <tbody>
            <tr th:each="category : ${listCategories}">
                <td th:text="${category.id}">Category ID</td>
                <td th:text="${category.name}">Name</td>
                <td th:text="${category.description}">Description</td>
                <td th:text="${category.parentCategory == null ? 'null' : category.parentCategory.name}">Parent</td>
                <td>
                    <a th:href="@{'/edit/' + ${category.id}}">Edit</a>
                    <a th:href="@{'/delete/' + ${category.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </div>
    </table>
    <br/>
    <div>Total Categories: [[${totalCategories}]]</div>
    <a th:if="${currentPageCategories > 1}"
       th:href="@{'/rawUI/page/1?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword == null ? '' : ('&keyword='+keyword)}}">First</a>
    <span th:unless="${currentPageCategories > 1}">First</span>
    <a th:if="${currentPageCategories > 1}"
       th:href="@{'/rawUI/page/'+${currentPageCategories -1}+'?sortField='+${sortField}+'&sortDir='+${sortDir  }+${keyword == null ? '' : ('&keyword='+keyword)}}">Previous</a>
    <span th:unless="${currentPageCategories > 1}">Previous</span>

    <span th:each="i : ${#numbers.sequence(1,currentPageCategories)}">
                <a th:if="${currentPageCategories != i}"
                   th:href="@{'/rawUI/page/' +${i} +'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword == null ? '' : ('&keyword='+keyword)}}">[[${i}]]</a>
                <span th:unless="${currentPageCategories != i}">[[${i}]]</span>
                 &nbsp;
            </span>
    <a th:if="${currentPageCategories < totalPagesCategories}"
       th:href="@{'/rawUI/page/'+${currentPageCategories+1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword == null ? '' : ('&keyword='+keyword)}}">Next</a>
    <span th:unless="${currentPageCategories < totalPagesCategories}">Next</span>

    <a th:if="${currentPageCategories < totalPagesCategories}"
       th:href="@{'/rawUI/page/'+${totalPagesCategories}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword == null ? '' : ('&keyword='+keyword)}}">Last</a>
    <span th:if="${currentPageCategories >= totalPagesCategories}">Last</span>

    <br/>
    <a href="/rawUI/newBrand"></a>
    <h1>Product List</h1>
    <a href="/rawUI/newPhone">Create New Phone</a>
    <a href="/rawUI/newTablet">Create New Tablet</a>
    <a href="/rawUI/newLaptop">Create New Phone</a>
    <br/>
    <table>
        <thead>
        <tr>
            <th>
                <a>
                    Product ID</a>
            </th>
            <th>
                <a>Name</a>
            </th>
            <th>
                <a>Description</a>
            </th>
            <th>
                <a>Price
                </a></th>
            <th>Actions</th>
        </tr>
        </thead>
        <div th:if="${not #lists.isEmpty(listProducts)}">
            <tbody>
            <tr th:each="product : ${listProducts}">
                <td th:text="${product.id}">Product ID</td>
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.description}">Description</td>
                <td th:text="${product.price}">Price</td>
                <td>
                    <a th:href="@{'/edit/' + ${product.id}}">Edit</a>
                    <a th:href="@{'/delete/' + ${product.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </div>
    </table>
    <br/>
    <br/>
    <table>
        <thead>
        <tr>
            <th>
                <a>
                    Product ID</a>
            </th>
            <th>
                <a>Name</a>
            </th>
            <th>
                <a>CPU</a>
            </th>
            <th>
                <a>RAM</a>
            </th>
            <th>
                <a>Hard Drive
                </a>
            </th>
            <th>
                <a>Graphics Card</a>
            </th>

            <th>
                <a>Operating System</a>
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <div th:if="${not #lists.isEmpty(listLaptops)}">
            <tbody>
            <tr th:each="laptop : ${listLaptops}">
                <td th:text="${laptop.product.id}">Product ID</td>
                <td th:text="${laptop.product.name}">Name</td>
                <td th:text="${laptop.cpu}">Cpu</td>
                <td th:text="${laptop.ram}">Ram</td>
                <td th:text="${laptop.hardDrive}">Hard Drive</td>
                <td th:text="${laptop.graphicsCard}">Graphics Card</td>
                <td th:text="${laptop.operatingSystem}">Operating System</td>
                <td>
                    <a th:href="@{'/edit/' + ${product.id}}">Edit</a>
                    <a th:href="@{'/delete/' + ${product.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </div>
    </table>
    <br/>
    <br/>
    <div><i>Sorted by [[${sortField}]] in [[${sortDir}]]</i></div>
    <br/>
    <br/>


</div>
</body>

<!--<script type="text/javascript">-->
<!--    function clearSearch() {-->
<!--        window.location = "[[@{/}]]";-->
<!--    }-->
<!--</script>-->
</html>