<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>Product Manager</title>
</head>

<style>
    table, th, td {
        border: 1px solid;
    }
</style>
<body>
<div align="center">

    <form th:action="@{/rawUI/admin/employees/1}">
        Filter:<input type="text" size="50" th:value="${keyword}" name="keyword" id="keyword" required>
        &nbsp;
        <input type="submit" value="Search"/>
        &nbsp;
        <input type="button" value="Clear" id="btnClear"
        />
    </form>

    <div th:if="${#httpServletRequest.userPrincipal != null }">
        <h1>Hello [[${#httpServletRequest.remoteUser}]]</h1>

        <div th:if="${#authentication.getAuthorities() != null}">
            <p>Roles: <span th:each="authority : ${#authentication.getAuthorities()}"
                            th:text="${authority.getAuthority()} + '    '"/></p>
        </div>

        <form th:action="@{/rawUI/logout}" method="post">
            <input type="submit" value="Logout">
        </form>

    </div>
    <div th:if="${#httpServletRequest.userPrincipal == null}">
        <a href="/rawUI/login">Login</a>
    </div>

    <div th:if="${param.logoutStatus}">
        <h3>You have been logged out</h3>
    </div>


    <div>
        <a th:href="${'/rawUI/'}">Home</a>
    </div>
    <div>
        <h1>List Employees</h1>
        <div>
            <a href="/rawUI/admin/newEmployee">Add new Employee</a>
        </div>
        <br/>
        <br/>
        <form></form>
        <select id="itemsNumberSelect" onchange="updateUrl(this)">
            <option value="5">5 items per page</option>
            <option value="10">10 items per page</option>
            <option value="20">20 items per page</option>
            <option value="50">50 items per page</option>
        </select>
        <table>
            <thead>
            <tr>
                <th>
                    <a th:href="@{'/rawUI/admin/employees/'+${currentPage} +'?sortField=id&sortDir='+${reverseSortDir}+'&itemsNumber='+${numberElement}}">
                        Employee ID</a>
                </th>
                <th>
                    <a th:href="@{'/rawUI/admin/employees/'+${currentPage} +'?sortField=email&sortDir='+${reverseSortDir}+'&itemsNumber='+${numberElement}}">Email</a>
                </th>
                <th>
                    <a th:href="@{'/rawUI/admin/employees/'+${currentPage} +'?sortField=firstName&sortDir='+${reverseSortDir}+'&itemsNumber='+${numberElement}}">
                        Last Name</a></th>
                <th>
                    <a th:href="@{'/rawUI/admin/employees/'+${currentPage} +'?sortField=firstName&sortDir='+${reverseSortDir}+'&itemsNumber='+${numberElement}}">First
                        Name</a>
                </th>
                <th>
                    <a th:href="@{'/rawUI/admin/employees/'+${currentPage} +'?sortField=phone&sortDir='+${reverseSortDir}+'&itemsNumber='+${numberElement}}">Phone</a>
                </th>
                <th>
                    <a th:href="@{'/rawUI/admin/employees/'+${currentPage} +'?sortField=roles&sortDir='+${reverseSortDir}+'&itemsNumber='+${numberElement}}">Roles</a>
                </th>
                <th>
                    <a th:href="@{'/rawUI/admin/employees/'+${currentPage} +'?sortField=isEnabled&sortDir='+${reverseSortDir}+'&itemsNumber='+${numberElement}}">Enabled</a>

                </th>
                <th>Action</th>
            </tr>
            </thead>

            <div th:if="${not #lists.isEmpty(listEmployees)}">
                <tbody>
                <tr th:each="employee : ${listEmployees}">
                    <td th:text="${employee.id}">Category ID</td>
                    <td th:text="${employee.email}">Email</td>
                    <td th:text="${employee.firstName}">First Name</td>
                    <td th:text="${employee.lastName}">Last Name</td>
                    <td th:text="${employee.phone}">Phone</td>
                    <td th:text="${employee.roles}">Roles</td>
                    <td th:text="${employee.enabled}">Enabled</td>
                    <td th:if="${currentRoles.contains('ADMIN')}">
                        <a th:href="@{'/rawUI/admin/editEmployee/' + ${employee.id}}">Edit</a>
                        <a th:href="@{'/rawUI/admin/deleteEmployee/' + ${employee.id}}">Delete</a>
                    </td>

                    <td th:if="${not currentRoles.contains('ADMIN')}">
                        <p>Only ADMIN can action</p>
                    </td>
                </tr>
                </tbody>
            </div>
        </table>
        <br/>
        <br/>
        <a th:if="${currentPage > 1}"
           th:href="@{'/rawUI/admin/employees/1'+'?sortField='+${sortField} +'&sortDir='+${sortDir}+'&itemsNumber='+${numberElement}}">First</a>
        <span th:if="${currentPage < 2}">First</span>

        <a th:if="${currentPage > 1}" th:href="@{'/rawUI/admin/employees/'+${currentPage - 1} +'?sortField='+${sortField} +'&sortDir='+${sortDir}+'&itemsNumber='+${numberElement}}">Previous</a>
        <span th:if="${currentPage < 2}">Previous</span>

        <span th:each="i : ${#numbers.sequence(1,totalPages)}">
            <a th:if="${currentPage != i}" th:href="@{'/rawUI/admin/employees/'+${i}+'?sortField='+${sortField} +'&sortDir='+${sortDir}+'&itemsNumber='+${numberElement}}">[[${i}]]</a>
            <span th:if="${currentPage == i}">[[${i}]]</span>
            &nbsp;
        </span>

        <a th:if="${currentPage < totalPages}" th:href="@{'/rawUI/admin/employees/'+${currentPage+1}+'?sortField='+${sortField} +'&sortDir='+${sortDir}+'&itemsNumber='+${numberElement}}">Next</a>
        <span th:if="${currentPage >= totalPages}">Next</span>

        <a th:if="${currentPage < totalPages}" th:href="@{'/rawUI/admin/employees/'+${totalPages}+'?sortField='+${sortField} +'&sortDir='+${sortDir}+'&itemsNumber='+${numberElement}}">Last</a>
        <span th:if="${currentPage >= totalPages}">Last</span>
    </div>
</div>
</body>

<script type="text/javascript">
    // Hàm hỗ trợ lấy giá trị của tham số từ URL
    function getUrlParam(paramName) {
        let urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(paramName);
    }

    const currentItemsNumber = getUrlParam('itemsNumber');
    const selectElement = document.getElementById("itemsNumberSelect");
    console.log(currentItemsNumber)
    if (currentItemsNumber == null) {
        selectElement.value = 5;
    } else {
        selectElement.value = currentItemsNumber;
    }
    document.getElementById('btnClear').addEventListener('click', function (evt) {
        evt.preventDefault();
        window.location.href = "/rawUI/admin/employees/1";
    });

    function updateUrl(select) {
        let selectedValue = select.value;
        window.location.href = "/rawUI/admin/employees/1?itemsNumber=" + selectedValue;
    }
</script>
</html>